*{

font-family:Segoe UI;

font-size:16px;

box-sizing:border-box;

}

body{

background:#B5BAFF;

}

#divForm{

width:550px;

margin:auto;

margin-top:40px;

padding:25px;

background:aliceblue;

border:2px solid black;

border-radius:10px;

}

h1{

text-align:center;

}

.default{

text-align:center;

font-weight:bold;

}

input,

select,

textarea{

width:100%;

padding:10px;

border-radius:8px;

border:1px solid gray;

}

textarea{

resize:none;

}

input[type=radio]{

width:auto;

}

#btnSubmit{

background:blue;

color:white;

border:none;

cursor:pointer;

font-size:18px;

}

#btnSubmit:hover{

background:purple;

}